body {
	font-size: 10px;
	margin: 0;
}
#clock
{
	width: 100%;
	border: hidden;
	position: relative;
}

@font-face {
	font-family: 'Segment7Standard';
	src: url(Segment7Standard.otf);
}

#digit_bg, #txt {
	margin: 0;
	left: 50%;
	font: 2.1em 'Segment7Standard', sans-serif;
}

#clock_bg
{
	background: #333 none repeat scroll 0 0;
	border-radius: 3px;
}
#digit_bg
{
	color:#0d2f0c;
	text-shadow: 0px 0px 10px rgba(36, 221, 34, 0.6);
	border: hidden;
	transform: translate(-50%, 0%);
	position: relative;
}

#txt
{
	position: absolute;
	transform: translate(-50%, -100%);
	color:rgba(36, 221, 34, 0.7);
	text-shadow: 0 0 0.25em  rgba(36, 221, 34, 0.3), 0 0 0.15em #24dd22;
}

#screenmessage
{
	display: none;
	width: 100%;
	height: 100%;
	background: #333 none repeat scroll 0 0;
	text-align: center;
	position: relative;
}