<%
	require "yaml"
	domain = "mgmsp-lab.com"
	if File.exists?("../.ninjadvarc.yaml")
		ninjadva_config = YAML::load_file("../.ninjadvarc.yaml")
		domain = ninjadva_config["domain"] if ninjadva_config["domain"]
	end
%><script>

	function clockwidgetFitIframe(){
		$("#clockwidget iframe").css("height", $("#clockwidget > div").height() - $("#clockwidget h1").outerHeight(true));
	}

	$( document ).ready(function() {
		$("#clockwidgetclickiframe").attr('src', "http://clock.<%=domain%>/clock.html");

		$("#clockwidget").one('transitionend webkitTransitionEnd oTransitionEnd otransitionend MSTransitionEnd', function () {
			clockwidgetFitIframe();
		});
		$("#clockwidget").resize(clockwidgetFitIframe);
	});

</script>

<div id='clockwidget' class='widget' data-row="4" data-col="1" data-sizex="1" data-sizey="1">
	<div>
		<h1>Time</h1>
		<iframe id="clockwidgetclickiframe" style='width: 100%; border:none' src='http://clock.<%=domain%>/clock.html'></iframe>
	</div>
</div>

